body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F8C8DC;
}

.header_text {
    font-family: "Playball", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 80px;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.gif {
    height: 450px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}